<div class="row" style="padding-top: 10px;">
    <div class="col-lg-6">
        <h3>Lista de Comentarios</h3>
    </div>
    <div>
        <button class="btn btn-primary float-right" [routerLink] = "['/agregar']">Nuevo Comentario</button>
    </div>
</div>
<br>
<table class="table table-sm table-hover">
    <thead>
        <th>Titulo</th>
        <th>Creador</th>
        <th>Fecha</th>
        <th></th>
        <th></th>
    </thead>
    <tbody>
        <tr>
            <td><a [routerLink] = "['/ver/', '1']">Pelicula Gladiador</a></td>
            <td>Joaquin</td>
            <td>03/09/2020</td>
            <td><button class="btn btn-primary btn-sm" [routerLink] = "['/editar/', '1']">Editar</button></td>
            <td><button class="btn btn-danger btn-sm">Eliminar</button></td>
        </tr>
        <tr>
            <td><a [routerLink] = "['/ver/', '2']">Pelicula Rapido y furioso</a></td>
            <td>Marcelo</td>
            <td>03/09/2020</td>
            <td><button class="btn btn-primary btn-sm" [routerLink] = "['/editar/', '2']">Editar</button></td>
            <td><button class="btn btn-danger btn-sm">Eliminar</button></td>
        </tr>        
    </tbody>
</table>
